.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
}

/* Custom style for the form */
.create-form {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

/* Custom style for the list */
.category-list {
    background-color: #ffffff;
    padding: 20px;
}

.button-wrapper {
    text-align: right;
    margin-top: 5px;
}

.product-details {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.valider-button {
    text-align: right;
}