<section class="semi-banner">
    <p class="mb-0">Nouvelle vente</p>
    <h3 class="mt-1">Insertion de nouvelle vente</h3>
</section>
  
<div class="container new-vente-form mb-4">
    <section class="py-3 px-5 mt-3">
       <form action="" class="col-md-8 mx-auto">
        <h5>Insertion des photos du produit</h5>
        <p>Pour mieux valoriser votre produit, ajouter en des belles photos.</p>
        <div class="row">   
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="" class="mb-2">Photo 1</label>
                    <input type="file" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2">Photo 2</label>
                    <input type="file" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2">Photo 3</label>
                    <input type="file" class="form-control">
                </div>
            </div>
            <div class="col-md-6">   
                <div class="mb-3">
                    <label for="" class="mb-2">Photo 4</label>
                    <input type="file" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="mb-2">Photo 5</label>
                    <input type="file" class="form-control">
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-md-6">
                <button class="btn btn-primary px-5 w-100 mt-3">Valider</button>
            </div>
        </div>
       </form>
    </section>
</div>

