<div class="produits py-3 mt-1">
    <div class="container">
        <div class="title mt-3">
            <p>Des produits d'un autre monde</p>
            <h3>Listes des produits</h3>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row mt-4">
                    <app-produit *ngFor="let item of produits" titre="{{item.titre}}" imagePath="{{item.photo_url}}" [price]="item.prix" utilisateur="{{item.utilisateur}}" class="col-6 col-sm-6 col-md-4 mb-3"></app-produit>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                                <li class="page-item"
                                    (click)="getPreviousPage()">Previous</li>
                                <li class="page-item"
                                    (click)="getNextPage()">Next</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-md-4">
                <div class="filter">
                    <h4>Filtre</h4>
                    <section class="form mt-3">
                        <div class="mb-3">
                            <label for="" class="form-label text-black mb-3"> <i
                                    class="bi bi-currency-exchange me-3"></i> Filtrer par prix</label>
                            <div class="row">
                                <div class="col-md-6 mb-sm-3 mb-md-0">
                                    <input type="text" class="form-control" placeholder="Min" [(ngModel)]="min_price">
                                </div>
                                <div class="col-md-6 mb-sm-3 mb-md-0">
                                    <input type="text" class="form-control" placeholder="Max" [(ngModel)]="max_price">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label class="form-label text-black mb-3"><i
                                    class="bi bi-stack me-3"></i>Catégorie</label>
                            <div class="row ps-2">
                                <div class="form-check col-md-6" *ngFor="let categ of categories; index as i">
                                    <input [(ngModel)]="categories_id[i]" class="form-check-input" type="checkbox" id="flexCheckDefault{{i}}">
                                    <label class="form-check-label" for="flexCheckDefault{{i}}">
                                        {{categ.nom}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3">
                            <label for="" class="form-label text-black mb-3"><i
                                    class="bi bi-star me-3"></i>Condition</label>
                            <div class="row ps-2">
                                <div class="form-check col-md-6" *ngFor="let condition of conditionProduits; index as i">
                                    <input class="form-check-input" [(ngModel)]="conditions_id[i]" type="checkbox" id="flexCheckDefault{{i}}">
                                    <label class="form-check-label" for="flexCheckDefault{{i}}">
                                        {{condition.nom}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mb-3 row lieu">
                            <label for="" class="form-label text-black mb-3"><i
                                    class="bi bi-geo-alt-fill me-3"></i>Lieu</label>
                            <div class="col-md-6 mb-sm-3 mb-md-0">
                                <select [(ngModel)]="pays_id" class="form-select" id="">
                                    <option value="{{pay.id}}" *ngFor="let pay of pays">{{pay.nom}}</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select [(ngModel)]="ville_id" class="form-select" id="">
                                    <option value="{{ville.id}}" *ngFor="let ville of villes">{{ ville.nom }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="mt-4 d-flex">
                            <button class="px-3">Annuler</button>
                            <button class="ms-5 px-3 text-green" (click)="filter()">Valider</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>