.produit {
    position: relative;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .props {    
        position: absolute;
        top: 15px;
        right: 10px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            border-radius: 100%;
        }

        span {
            font-weight: 600;
            font-size: var(--fs-button);
            color: var(--special-color);
        }

    }

    a {
        text-decoration: none;
        color: var(--clear-back-color) !important;
        text-align: center;

        .name {
            font-size: var(--fs-icon);
        }

        .price {
            font-weight: bold;
        }

        @media screen and (max-width: 500px) {
            .name {
               font-size: 12px;
            }

        }
    }

    @media screen and (max-width: 500px) {
        .props {
           div, span {
            font-size: 10px;
           }
        }

    }
}