.filter-board {
    height: fit-content;
}

tr td p {
    margin: 0;
    padding: 5px 15px;
    font-size: small;
    text-align: center;
}

.state-default {
  background-color: #696969;
  color: black;
}

.state-success {
  background-color: #4eb327;
  color: black;
}