<main class="container">
  <header>Vous avez: 0 jeton</header>
  <section class="mt-5 px-2 row flex-row-reverse">
    <div class="col-md-6">
        <h2>Achat jetons</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Devise</th>
            <th>Valeur pour 1 jeton</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select class="form-select">
                <option value="">Ariary</option>
                <option value="">Euro</option>
                <option value="">Dollar US</option>
              </select>
            </td>
            <td>100</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
        <h2>Prix du jeton</h2>
        <div class="input-group mb-2">
            <span class="input-group-text">Ariary</span>
            <input type="number" class="form-control" placeholder="100" />
            <span class="input-group-text">Up</span>
            <span class="input-group-text">Down</span>
        </div>
        <div class="input-group mb-2">
            <span class="input-group-text">Jeton</span>
            <input type="number" class="form-control" placeholder="1" />
            <span class="input-group-text">Up</span>
            <span class="input-group-text">Down</span>
        </div>
        <button class="btn btn-primary w-100 mt-5">Valider</button>
    </div>
  </section>
</main>
