<section class="semi-banner">
    <p class="mb-0">Nouvelle vente</p>
    <h3 class="mt-1">Insertion de nouvelle vente</h3>
</section>
  
<div class="container new-vente-form mb-4">
    <section class="py-3 px-5 mt-3">
       <form action="" class="">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="" class="form-label">Nom du produit</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Prix</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Catégorie</label>
                    <select name="" id="" class="form-select">
                        <option value="">Vêtements</option>
                        <option value="">Accessoires</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label text-black mb-0">Condition</label>
                    <hr class="my-3">
                    <div class="row ps-2">
                        <div class="form-check col-md-6">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Produit neuf
                            </label>
                        </div>
                        <div class="form-check col-md-6">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Produit usagé
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-4">
                    <button class="btn btn-light px-5">Retour</button>
                    <button class="btn btn-primary ms-4 px-5">Suivant</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 row lieu">
                    <label for="" class="form-label text-black">Lieu</label>
                    <div class="col-md-6 mb-sm-3 mb-md-0">
                        <select name="" class="form-select" id="">
                            <option value=""></option>
                            <option value="">Madagascar</option>
                            <option value="">France</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select name="" class="form-select" id="">
                            <option value=""></option>
                            <option value="">Antananarivo</option>
                            <option value="">France</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Description</label>
                    <textarea name="" class="form-control" id="" cols="30" rows="5">

                    </textarea>
                </div>
            </div>
        </div>
       </form>
    </section>
</div>

