<div class="produit">
    <div class="props">
        <div class="success"> <i class="bi bi-check-lg me-3"></i> <span>Effectué</span></div>
        <div class="">
            <button type="button" class="cancel-button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-x"></i></button>
        </div>
    </div>
    <a href="">
        <img src="assets/images/1.jpg" alt="">
        <div class="name mt-3">
            Vêtements de soirée
        </div>
        <div class="price">
            130.00 <span>Kc</span>
        </div>
    </a>
</div>