/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/barbie');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--principal-font) !important;
}

:root {
    --principal-font: "Sen", sans-serif;

    --special-color: #92b6ff;
    --special-dark-color: #343d51;
    --second-color: #cadbfe;
    --tertial-color: #ffd659;
    --black-color: #222222;
    --paragraph-color: #6d6c6c;
    --danger-color: #f80013;
    --overlay-color: rgba(28, 28, 30, 0.4);
    --bg-white-color: #f5f5f5;
    --clear-black-color: #383128;
    --border-color: rgb(34, 34, 34, 0.1);
    

    --fs-paragraph: 16px;
    --fs-icon: 20px;
    --fs-button: 14px;
    --fs-currency: 11px;

    --fs-banner-medium: 20px;
    --fs-banner-big: 60px;
}